<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
  
  <label for="landmark_name">Name:</label><br/>
  <input type="text" id="landmark_name" name="landmark[name]" placeholder="Enter name"/>
  <br/><br/>
  
  <label for="landmark_year_completed">Year Completed:</label><br/>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]" placeholder="Enter year completed"/>
  <br/><br/>

  <input type="submit" value="Create New Landmark"/>
</form>